version: '3.8'

services:
  vulnerable:
    build: .
    ports:
      - "5001:5000"
    environment:
      - APP_MODE=vulnerable
    volumes:
      - ./uploads:/app/uploads

  secure:
    build: .
    ports:
      - "5002:5000"
    environment:
      - APP_MODE=secure
    volumes:
      - ./uploads_secure:/app/uploads_secure
